.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
test-workspace/**
docs/**
node_modules/**


!node_modules/yaml/**
!node_modules/chokidar/**
!node_modules/chokidar/**/*
